.additional-item {

}

.additional-item__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0;
  color: $second-color-description;
  text-transform: uppercase;
}
