.advantages {
  margin: 0 20px 49px;
}

.advantages__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;
}

.advantages__item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.advantages__description {
  margin: 0;
  display: flex;
  align-items: center;
}

.advantages__description:before {
  flex-shrink: 0;
  content: "";
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 20px;
}

.advantages__description--function:before {
  background-image: url("../../icons/icon-function.svg");
}

.advantages__description--water:before {
  background-image: url("../../icons/icon-water.svg");
}

.advantages__description--change:before {
  background-image: url("../../icons/icon-change.svg");
}

.advantages__description--time:before {
  background-image: url("../../icons/icon-time.svg");
}
