.button-reset {
  appearance: none;
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
}
