.form-subscribe__email {
  margin-bottom: 16px;
  border: 1px solid $parameters-title-border-bolor;
  padding: 13px 13px;
  width: 100%;
  font-family: $secondary-font;
  font-size: 20px;
  color: $base-color-description;
  text-transform: uppercase;
}
