.main-footer {
  background-color: $example-background-color;
  padding: 0 20px;
}

.main-footer__logo {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 20px;
}


.main-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 40px;
}
